.close-button {
    top: 10px; 
    right: 10px; 
    z-index: 10;
  }
  

  pdf-viewer {
    height: calc(100vh - 56px);
    margin: auto;
    display: block;
    width: auto;
    overflow: hidden;
}
