<nb-layout>
    <nb-layout-header fixed>
      <div class="header-content">
        <span nz-icon nzType="smile" nzTheme="outline"></span>
        <nb-icon icon="star"></nb-icon>
        <h1 nz-typography style="font-size: 24px; font-weight: bold; margin-left: 12px; display: inline;">ML Tutor Chat</h1>
      </div>
      
    </nb-layout-header>

    <nb-sidebar>


        <nb-menu [items]="menuItems" tag="my-context-menu" style="margin: auto;"></nb-menu>
        
        <nb-sidebar-footer>  
        </nb-sidebar-footer>

    </nb-sidebar>

    <nb-layout-column>
        <nb-chat title="Conversational UI">
            <nb-chat-message *ngFor="let msg of messages"
                             [message]="msg.text"
                             [reply]="msg.reply"
                             [sender]="msg.user.name"
                             [date]="msg.date"
                             [avatar]="msg.user.avatar">
            </nb-chat-message>
            
        
            <nb-chat-form (send)="sendMessage($event)" >
            </nb-chat-form>
        </nb-chat>
    </nb-layout-column>
</nb-layout>
