  <li nz-submenu nzTitle="Math Foundations" nzIcon="mail">
    <ul>
      <li nz-menu-group nzTitle="Math for Machine Learning">
        <ul>
          <li nz-menu-item>3</li>
          <li nz-menu-item>4</li>
          <li nz-menu-item>6</li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="Stanford CS229">
        <ul>
          <li nz-menu-item>11</li>
        </ul>
      </li>
    </ul>
  </li>

  <li nz-submenu nzTitle="Linear Regression" nzIcon="mail">
    <ul>
      <li nz-menu-group nzTitle="An Introduction to Statistical Learning">
        <ul>
          <li nz-menu-item>6.2</li>
        </ul>
      </li>

      <li nz-menu-group nzTitle="The Elements of Statistical Learning">
        <ul>
          <li nz-menu-item>7.10</li>
          <li nz-menu-item>8.2</li>
          <li nz-menu-item>8.3</li>
        </ul>
      </li>

      <li nz-menu-group nzTitle="Stanford CS229">
        <ul>
          <li nz-menu-item>9</li>
        </ul>
      </li>

      
      <li nz-menu-group nzTitle="Deep Learning">
        <ul>
          <li nz-menu-item>5</li>
          <li nz-menu-item>7</li>
        </ul>
      </li>
    </ul>
  </li>
  
  <li nz-submenu nzTitle="Bias-Variance" nzIcon="setting">
    <ul>
      <li nz-menu-group nzTitle="Deep Learning">
        <ul>
          <li nz-menu-item>5</li>
        </ul>
      </li>
    </ul>

    <ul>
      <li nz-menu-group nzTitle="Stanford CS229">
        <ul>
          <li nz-menu-item>8</li>
        </ul>
      </li>
    </ul>

    <ul>
      <li nz-menu-group nzTitle="An Introduction to Statistical Learning">
        <ul>
          <li nz-menu-item>2.2.2</li>
        </ul>
      </li>
    </ul>
  </li>

  <li nz-submenu nzTitle="Optimization" nzIcon="setting">
    <ul>
      <li nz-menu-group nzTitle="Deep Learning">
        <ul>
          <li nz-menu-item>8</li>
        </ul>
      </li>
    </ul>

    <ul>
      <li nz-menu-group nzTitle="Stanford CS229">
        <ul>
          <li nz-menu-item>7</li>
        </ul>
      </li>
    </ul>
  </li>

  <li nz-submenu nzTitle="Neural Networks" nzIcon="setting">
    <ul>
      <li nz-menu-group nzTitle="Deep Learning">
        <ul>
          <li nz-menu-item>6</li>
          <li nz-menu-item>8</li>
          <li nz-menu-item>9</li>
          <li nz-menu-item>14</li>
        </ul>
      </li>
    </ul>

    <ul>
      <li nz-menu-group nzTitle="Stanford CS229">
        <ul>
          <li nz-menu-item>7.2</li>
        </ul>
      </li>
    </ul>

    <ul>
      <li nz-menu-group nzTitle="An Introduction to Statistical Learning">
        <ul>
          <li nz-menu-item>10</li>
        </ul>
      </li>
    </ul>
    
  </li>

  <li nz-submenu nzTitle="SVMs" nzIcon="setting">
    <ul>
      <li nz-menu-group nzTitle="Deep Learning">
        <ul>
          <li nz-menu-item>5</li>
        </ul>
      </li>
    </ul>

    <ul>
      <li nz-menu-group nzTitle="Stanford CS229">
        <ul>
          <li nz-menu-item>6</li>
        </ul>
      </li>
    </ul>

    <ul>
      <li nz-menu-group nzTitle="Math for Machine Learning">
        <ul>
          <li nz-menu-item>7</li>
          <li nz-menu-item>12</li>
        </ul>
      </li>
    </ul>

    <ul>
      <li nz-menu-group nzTitle="Elements of Statistical Learning">
        <ul>
          <li nz-menu-item>12</li>
        </ul>
      </li>
    </ul>

    <ul>
      <li nz-menu-group nzTitle="An Introduction to Statistical Learning">
        <ul>
          <li nz-menu-item>9</li>
        </ul>
      </li>
    </ul>
    
  </li>


  <li nz-submenu nzTitle="Kernels" nzIcon="setting">
    <ul>
      <li nz-menu-group nzTitle="Stanford CS229">
        <ul>
          <li nz-menu-item>5</li>
        </ul>
      </li>
    </ul>
    
  </li>


