.ant-layout-sider, .ant-layout-header {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.85);
}

.hyperlink-logo{
    color:rgb(51, 102, 255)
}

.sider-header{
    text-align: left !important;
    margin:none; 
    margin-left: 8%; 
    color:#262626;
}


