<nz-layout class="layout" nzTheme="light" style="max-height:100vh; overflow:hidden">
  <!--   
  <nz-header>
    <ul nz-menu nzTheme="light" nzMode="horizontal" class="header-menu">
      <li nz-menu-item [nzSelected]="tab === 1" (click)="tab = 1" nzTitle="<b>Chat</b>">
        <b>Chat</b>
      </li>
      <li nz-menu-item [nzSelected]="tab === 2" (click)="tab = 2" nzTitle="<b>PDF Viewer</b>">
        <b>PDF Viewer</b>
      </li>
    </ul>
  </nz-header> 
  -->

  <nz-sider nzCollapsible [nzTrigger]="" nzBreakpoint="lg" [nzCollapsedWidth]="0">
      <nz-divider style="margin-top: 10vh"></nz-divider> 
      <ul nz-menu nzTheme="light" nzMode="inline">
        <li nz-menu-item>
          <span>nav 1</span>
        </li>
        <li nz-menu-item>
          <span>nav 2</span>
        </li>
        <li nz-menu-item>
          <span>nav 3</span>
        </li>
        <li nz-menu-item>
          <span>nav 4</span>
        </li>
      </ul>
    </nz-sider>

    <nz-layout>
      <nz-content>
        <div style="width: 100%; height: 100%;" [ngSwitch]="tab">
          <app-chat *ngSwitchCase="1"></app-chat>
          <div  *ngSwitchCase="2" style="width: 100%; height: 90vh;">
            <pdf-viewer [src]="'assets/5.pdf'"  [render-text]="true" style="display: block; width: 100%; height: 100%;"></pdf-viewer>
          </div>
        </div>
      </nz-content>
      <nz-footer></nz-footer>
    </nz-layout>
  </nz-layout>